<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Scarborough</string>
		<key>description</key>
		<string>Welcome to My City!</string>
		<key>latitude</key>
		<real>43.7764</real>
		<key>longitude</key>
		<real>-79.23180000000001</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Toronto</string>
		<key>description</key>
		<string>Welcome to Toronto!</string>
		<key>latitude</key>
		<real>43.6532</real>
		<key>longitude</key>
		<real>-79.3832</real>
	</dict>
</array>
</plist>
